/*-----EDIT HERE-----*/

/*USE medis queries here to change the size of the boardcontainer
 note: the board container must always be 3 times the width of the .flip-container width
or else it won't create a 3x2 grid.
*/

@media

#boardContainer {
    width: 100%;
}

#boardContainer #rowOne,
#boardContainer #rowTwo {
    width: 100%;
    height: 50%;
}

#boardContainer .flip-container {
    width: 33%;
    height: 100%;
}

#boardContainer .flip-container {
    /* Background color when flipping */
    background-color: #0A538A;
}

#boardContainer .full {
    height: 100%;
    width: 100%;
}

#boardContainer .icon {
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#boardContainer #oneFront {
    background-color: #369AE5;
    background-image: url(icon.svg);
}

#boardContainer #oneBack {
    background-color: #A2AEBC;
}


#boardContainer #twoFront {
    background-image: url('img.jpg');
    background-size: cover;
}

#boardContainer #twoBack {
    background-color: #A2AEBC;
}

#boardContainer #threeFront {
    background-color: #A2AEBC;
    background-image: url(icon.svg);
}

#boardContainer #threeBack {
    background-color: #A2AEBC
}

#boardContainer #fourFront {
    background-image: url('img.jpg');
    background-size: cover;
}

#boardContainer #fourBack {
    background-color: #A2AEBC
}

#boardContainer #fiveFront {
    background-color: #E69A44;
    background-image: url(icon.svg);
}
#boardContainer #fiveBack {
    background-color: #A2AEBC
}

#boardContainer #sixFront {
    background-image: url('img.jpg');
    background-size: cover;
}

#boardContainer #sixBack {
    background-color: #A2AEBC
}

/*-------------------*/

/* --- CSS MAGIC --- */
#boardContainer .flip-container {
    perspective: 1000;
    float: left;
}

#boardContainer .flip-container:hover .flipper,
#boardContainer .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

#boardContainer .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

#boardContainer .front,
#boardContainer .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#boardContainer .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

#boardContainer .back {
    transform: rotateY(180deg);
}
/*---------------------*/

